---
import Layout from "../../layouts/Layout.astro"

---

<Layout title="artfvl ~ about">
    <main>
        <h1 class="font-bold">Artfvl (pronounced 'artful')</h1>
        <p>Hello! I go by Art, but you may know me as artfulinfo if you know me from Twitch.</p>
        <br/>
        <p>I'm a London-based developer, focused on websites, cloud engineering and data.</p>
        <br/>
        <h2 class="font-bold">Hobby projects</h2>
        <ul class="list-disc list-inside">
            <li>
                <a href="https://splitdash.app/" target="_blank">SplitDash.app</a> - A web app for speedrunners looking to share their achievements and progression on social media/video thumbnails in the form of a sleek 
                    and eye-catching summary card exported to .png 🧰 [Python (Django), React, Javascript/Typescript, SCSS]
            </li>
            <li>
                <a href="https://artfvl.dev/" target="_blank">Artfvl.dev</a> - My personal site, designed from scratch 🧰 [Javascript/Typescript, Astro, Tailwind CSS]
            </li>
            <li>
                <a href="https://github.com/artfulinfo/hpsr-pb-bot" target="_blank">PB Twitch Bot API</a> - A simple API enabling Twitch chatters to lookup personal best times of speedrunners on <a href="https://speedrun.com" target="_blank">speedrun.com</a> directly from Twitch chat. Easy setup for any streamer in the community with minimal configuration
                🧰 [Python (Flask)]
            </li>
            <li>
                <a href="https://github.com/artfulinfo" target="_blank"> Other github contributions</a>
            </li>
        </ul>
        <br/>
        <h2 class="font-bold">About me</h2>
        <ul class="list-none list-inside">
            <li>
                I've been working in and around back-end/full-stack development since 2018, originally in Python, in more recent years expanding into
                JavaScript/TypeScript, React, and (to a lesser extent) Go. I've always enjoyed the art of problem solving in an efficient and repeatable
                way using the power of code and love keeping up to date with new frameworks, libraries and approaches, to apply them in my own work.
            </li>
            <li>
                I've spent considerable time building solutions using cloud providers 🧰 [AWS, GCP] and I'm certified as an Associate Cloud Engineer for Google Cloud. 
                My experience includes: building data pipelines/workflow automation; setting up serverless functions and containers; user administration; object storage; SQL database 
                administration and ETL; CI/CD.
            </li>
            <li>
                I enjoy the design aspect of development, with an emphasis on a simple, consistent design language which is equal parts intuitive to use and visually engaging.
                Whenever justified, I create my own simple graphics/mock-ups in 🧰 [Affinity Designer] to add character/originality to my programs, such as the SplitDash logo and 
                all the dashboard template designs in the app.
            </li>
            <li>
                As you may've deduced from my hobby projects, I intermittently speedrun old games when I find the time, occasionally streaming my runs on Twitch
                or creating related content in the form of YouTube videos. I've picked up some fun, albeit maybe tangential skills in video recording 🧰 [OBS] and editing 🧰 [DaVinci Resolve], and livestream
                coordination skills, such as community engagement, overlay composition, layouts etc. 
            </li>
        </ul>
        <br/>
        <p>🧰 == key software I have experience with</p>
    </main>
</Layout>