---
import Layout from "../../layouts/Layout.astro";
import Navigation from "../../components/Navigation.astro";
---

<Layout title="artfvl ~ about">
  <Navigation />
  <main>
    <div class="mx-36 max-w-4xl shrink mt-12">
      <h1 class="font-bold font-mono">
        <span class="text-4xl">Artfvl</span><span class="text-l">
          (pronounced 'artful')</span
        >
      </h1>
      <br />
      <p class="font-mono text-lg">
        Hello! I go by <span class="font-bold">Art</span>, but you may know me
        as artfulinfo or Tom depending on where you know me from.
      </p>
      <br />
      <p class="font-mono text-lg">
        I'm a London-based developer, focused on websites, cloud engineering and
        data.
      </p>
      <br />
      <h2 class="font-bold font-mono text-xl">Hobby projects</h2>
      <ul class="list-disc list-inside font-mono">
        <li>
          <a
            class="underline font-bold text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-500 to-cyan-500 hover:text-white hover:bg-clip-content"
            href="https://splitdash.app/"
            target="_blank">SplitDash.app</a
          > - A desktop web app for speedrunners looking to share their achievements
          and progression on social media/video thumbnails in the form of a sleek
          and eye-catching summary card exported to .png 🧰 [Python (Django), React,
          Javascript/Typescript, SCSS]
        </li>
        <li>
          <a
            class="underline font-bold text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-500 to-cyan-500 hover:text-white hover:bg-clip-content"
            href="https://artfvl.dev/"
            target="_blank">Artfvl.dev</a
          > - My personal site, designed from scratch 🧰 [Javascript/Typescript,
          Astro, Tailwind CSS]
        </li>
        <li>
          <a
            class="underline font-bold text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-500 to-cyan-500 hover:text-white hover:bg-clip-content"
            href="https://github.com/artfulinfo/hpsr-pb-bot"
            target="_blank">PB Twitch Bot API</a
          > - A simple API enabling Twitch chatters to lookup personal best times
          of speedrunners on <a href="https://speedrun.com" target="_blank"
            >speedrun.com</a
          > directly from Twitch chat. Easy setup for any streamer in the community
          with minimal configuration 🧰 [Python (Flask)]
        </li>
        <li>
          <a
            class="underline font-bold text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-500 to-cyan-500 hover:text-white hover:bg-clip-content"
            href="https://github.com/artfulinfo"
            target="_blank"
          >
            Other github contributions</a
          >
        </li>
      </ul>
      <br />
      <h2 class="font-bold font-mono text-xl">About me</h2>
      <ul class="list-none list-inside font-mono">
        <li>
          I've been working in and around back-end/full-stack development since
          2018, originally in Python, in more recent years expanding into
          JavaScript/TypeScript, React, and (to a lesser extent) Go. I've always
          enjoyed the art of problem solving in an efficient and repeatable way
          using the power of code and love keeping up to date with new
          frameworks, libraries and approaches, to apply them in my own work.
        </li>
        <li>
          I've spent considerable time building solutions using cloud providers,
          namely 🧰 [AWS, GCP] and I'm certified as an Associate Cloud Engineer
          for Google Cloud. My experience includes: building data
          pipelines/workflow automation; setting up serverless functions and
          containers; user administration; object storage; SQL database
          administration and ETL; CI/CD.
        </li>
        <li>
          I enjoy the design aspect of development, with an emphasis on a
          simple, consistent design language which is equal parts intuitive to
          use and visually engaging. Where possible, I create my own simple
          graphics/mock-ups in 🧰 [Affinity Designer] to add
          character/originality to my programs, such as the SplitDash logo and
          all the dashboard template designs in the app.
        </li>
        <li>
          As you may've deduced from my hobby projects, I speedrun old games
          when I find the time, occasionally streaming my runs on Twitch or
          creating related content in the form of YouTube videos. I've picked up
          some fun, albeit maybe tangential skills in video recording 🧰 [OBS]
          and editing 🧰 [DaVinci Resolve], and livestream coordination skills,
          such as community engagement, overlay composition, layouts etc.
        </li>
      </ul>
      <br />
      <p class="font-mono">🧰 == key software I have experience with</p>
    </div>
  </main>
</Layout>

<style></style>
