---
import Layout from "../../layouts/Layout.astro";
import Navigation from "../../components/Navigation.astro";
---

<Layout title="artfvl ~ tl;dr">
  <Navigation />
  <main>
    <div class="mx-36 max-w-4xl shrink my-12">
      <h1 class="font-mono text-4xl align-middle font-bold">Contact</h1>
    </div>
  </main>
</Layout>
