<br />
<p class="font-mono text-lg">
  Hello! I go by <span class="font-bold">Art</span>, but you may know me as
  artfulinfo or Tom depending on where you know me from.
</p>
<br />
<p class="font-mono text-lg">
  I'm a London-based developer, focused on <span class="font-bold"
    >websites</span
  >, <span class="font-bold">cloud engineering</span> and <span
    class="font-bold">data</span
  >.
  <br />
  <br />
</p>
