---
---

<ul class="grid mx-4 my-4">
  <li>
    <a href="about"><img src="/artfvl_logo(long).png" class="h-10" /></a>
  </li>
  <li class="font-mono justify-self-end"><a href="/contact">Contact</a></li>
</ul>
